@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
  height: 100%;
}

body {
  font-family: "calibri", sans-serif;
  height: 100%;
  font-weight: 300;
  color: #151515;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
}

ul {
  list-style: none;
}

a {
  color: inherit;
}

.wrapper {
  height: 100%;
  width: 100%;
  position: relative;
}

.maincontent {
  height: 100vh;
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
  will-change: transform;
}

::marker {
  color: #5b5959;
}

summary {
  outline: none;
}

.wrapper {
  max-width: 700px;
  margin: 0 auto;
}
.wrapper--none {
  display: none;
}

.wrapper-img {
  position: absolute;
  display: none;
  padding-top: 76px;
  left: 0;
  right: 0;
}
.wrapper-img--on {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.wrapper-img .back {
  width: 100%;
  text-align: center;
  background: #9f484c;
  padding: 20px 20px 20px 40px;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  color: #fff;
  font-size: 16px;
  opacity: 0.87;
}
@media (orientation: landscape) {
  .wrapper-img .back {
    width: auto;
    padding: 20px 20px 20px 40px;
    border-radius: 0 0 20px 0;
    margin-left: -20px;
  }
}
.wrapper-img .back--on {
  display: inline-block;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  color: #fff;
  padding-top: 20px;
  font-size: 18px;
  line-height: 130%;
  font-weight: 500;
}
@media screen and (max-width: 480px) {
  .header {
    padding-top: 0;
  }
}

.menu {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #9f484c;
  font-size: 18px;
  padding: 20px 12%;
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .menu {
    padding: 20px 16px;
  }
}
.menu__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
@media screen and (max-width: 480px) {
  .menu__list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
.menu__item {
  padding: 0 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media screen and (max-width: 480px) {
  .menu__item {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }
}
.menu__link {
  text-decoration: none;
  text-transform: uppercase;
}

.content {
  width: 100%;
  padding: 50px 16px;
}
@media screen and (max-width: 480px) {
  .content {
    padding: 40px 16px;
  }
}

.title {
  text-align: center;
  font-size: 28px;
  color: #9f484c;
}
.title--p {
  font-size: 18px;
  display: block;
}

.page-content .title {
  color: #151515;
}

.notes {
  display: none;
  padding-bottom: 20px;
}
.notes__title {
  padding-top: 30px;
  font-size: 20px;
  color: #9f484c;
}
@media screen and (max-width: 480px) {
  .notes__title {
    padding-top: 40px;
  }
}
.notes__title :first-child {
  padding-top: 20px;
}
.notes summary {
  list-style: none;
  cursor: pointer;
}
.notes .summary--active {
  font-weight: 700;
}
.notes details summary::-webkit-details-marker { /* нестандартный псевдоэлемент Google Chrome */
  display: none;
}
.notes .cont-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fffbfb;
  list-style: initial;
  padding: 12px 33px 16px 33px;
}
.notes__item {
  margin-top: 12px;
}
.notes__link {
  margin-right: 5px;
}
.notes__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.notes--active {
  display: block;
}

.notes-posled .notes__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 700;
  margin-top: 12px;
}
.notes-posled .cont-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 25px;
  margin-bottom: 25px;
}
.notes-posled .notes__link {
  font-weight: 300;
  margin-left: 28px;
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.notes-posled .notes__link::before {
  content: "";
  width: 5px;
  height: 5px;
  margin-right: 5px;
  background: #3a3a3a;
  display: inline-block;
  border-radius: 50px;
}

.cont-links li {
  margin-top: 12px;
}
.cont-links li:first-child {
  margin-top: 0;
}

.text {
  padding: 20px 0;
}
.text__title {
  font-size: 20px;
  margin-bottom: 5px;
}

.note-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.note-img__img {
  max-width: 100%;
}

.wrapper-img .note-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper-img .note-img .note__item {
  border-bottom: 4px solid #8d8b8b;
}

.read {
  width: 100%;
  text-align: center;
  background: #c7c7c7;
  padding: 20px;
  color: #151515;
  font-size: 16px;
}

.view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff1f1;
}
@media screen and (max-width: 480px) {
  .view {
    margin-top: 30px;
  }
}

button.view__button {
  padding: 0 10px;
  background: inherit;
  font-size: 15px;
  color: #151515;
  line-height: 38px;
}
button.view__button:last-child {
  border-left: none;
}
button.view__button--active {
  font-weight: 700;
  font-size: 16px;
}

.overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

/* Класс .overlay_hidden необходим для того, чтобы
   скрыть div-контейнер с Flash-апплетом. */
.overlay_hidden {
  display: none;
}

/* Класс для отображения ошибки при блокировке Flash-апплета. */
.overlay_error {
  background: #ffcccc;
  color: #ff0000;
}

.links__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 15px;
  list-style: none;
}
.links__item a {
  text-decoration: none;
}
.links .links__link {
  font-weight: 300;
  margin-left: 28px;
  margin-top: 3px;
  padding: 2 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-decoration: underline;
}
.links .links__link::before {
  content: "";
  width: 5px;
  height: 5px;
  margin-right: 5px;
  background: #3a3a3a;
  display: inline-block;
  border-radius: 50px;
}

.wrapper--none {
  display: none;
}

.open-lists {
  margin: 0 auto;
  text-align: center;
  margin-top: 2px;
  font-size: 16px;
  color: #515151;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
}

.open-for {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

input#open {
  margin-right: 6px;
}