.notes {

    display: none;
    padding-bottom: 20px;

    &__title {
        padding-top: 30px;
        font-size: 20px;
        color: $color-title;

        @media screen and (max-width: $phones) {
            padding-top: 40px;
        }

        :first-child {
            padding-top: 20px;
        }
    }

    summary {
        list-style: none;
        cursor: pointer;
    }

    details summary::-webkit-details-marker {  /* нестандартный псевдоэлемент Google Chrome */
        display: none;
      }
    .cont-links {
        display: flex;
        flex-direction: column;
        background: #fdf2f2;
        list-style: initial;
        padding: 20px 33px;
    }

    &__item {
        margin-top: 12px;
    }

    &__link {
        margin-right: 5px;

        // &::before {
        //     content: '';
        //     display: block;
        //     margin-right: 7px;
        //     width: 5px;
        //     height: 5px;
        //     border-radius: 50px;
        //     background: #585858;
        // }
    }


    &__text {
        display: flex;
    }
    
    &--active {
        display: block;
    }
}

.notes-posled {

    .notes__item {
        display: flex;
        flex-direction: column;
        font-weight: 700;
        margin-top: 15px;
    }

    .cont-links {
        display: flex;
        flex-direction: column;
        margin-left: 25px;
    }

    .notes__link {
        font-weight: 300;
        margin-left: 28px;
        margin-top: 5px;
        display: flex;
        align-items: center;

        &::before {
            content: "";
            width: 5px;
            height: 5px;
            margin-right: 5px;
            background: #3a3a3a;
            display: inline-block;
            border-radius: 50px;
        }
    }
}

.cont-links li {
    margin-top: 12px;

    &:first-child {
        margin-top: 0;
    }
}