.notes {

    display: block;
    padding-bottom: 20px;

    &__title {
        padding-top: 30px;
        font-size: 20px;
        color: $color-title;

        @media screen and (max-width: $phones) {
            padding-top: 30px;
        }

        :first-child {
            padding-top: 20px;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
    }

    &__item {
        margin-top: 17px;
        color: #151515;
    }

    summary {
        list-style: none;
        cursor: pointer;
        display: inline-block;
    }
    
    details summary::-webkit-details-marker {  /* нестандартный псевдоэлемент Google Chrome */
        display: none;
    }

    .cont-links {
        display: flex;
        flex-direction: column;
        background: #fffbfb;
        list-style: initial;
        padding: 12px 33px 16px 33px;

        & li {
            margin-top: 17px;
        
            &:first-child {
                margin-top: 3px;
            }
        }
    }

    &__link {
        margin-right: 5px;
    }    
}

.posled-open {
    display: none;

    &--active {
        display: inline;
    }
}