.wrapper {
    max-width: 700px;
    margin: 0 auto;

    &--none {
        display: none;
    }    
}

.wrapper-img {
    position: absolute;
    display: none;
    padding-top: 76px;
    left: 0;
    right: 0;

    &--on {
        display: flex;
    }

    .back {
        width: 100%;
        text-align: center;
        background: #9f484c;
        padding: 30px;
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        color: #fff;
        font-size: 16px;
        
        @media (orientation: landscape) {
            width: auto;
            padding: 42px 5px;
        }

        @media screen and (min-width: 481px) {
            padding: 20px;
        }
        
        &--on {
            display: inline-block;
        }
    }
}