.wrapper {
    max-width: 700px;
    margin: 0 auto;

    &--none {
        display: none;
    }    
}

.wrapper-img {
    position: absolute;
    display: none;
    padding-bottom: 76px;
    left: 0;
    right: 0;

    &--on {
        display: flex;
    }

    .back {
        width: 100%;
        text-align: center;
        background: #c7c7c7;
        padding: 30px;
        display: none;
        position: fixed;
        bottom: 0;
        left: 0;
        color: #151515;
        font-size: 16px;
        
        

        @media screen and (min-width: 481px) {
            padding: 20px;
        }
        
        &--on {
            display: inline-block;
        }
    }
}